@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import "tailwindcss";
@custom-variant hover (&:hover);

@theme {
  --color-primary: #FB7DA8;
  --color-secondary: #000000;
  --color-danger: #FD5A46;
  --color-success: #00995E;
  --color-warning: #FFC567;
  --color-info: #058CD7;
  --font-archivo: "Archivo Black", sans-serif;
}

body {
  font-family: var(--font-archivo);
}
